
  
  #hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    text-align: left;
    
    background-color: #b4d2ba;
    color: rgb(0, 0, 0);
    padding: 0 10px;
  }


  
  section {
    margin-bottom: 150px;
  }

  .hero-dog-outline
  {
    width: 250px;
  }
  
  h1 {
    font-size: 5rem;
  }

  #hero h2
  {
    font-weight: 300;
  }
  
  h2 {
    font-size: 2.75rem;
    margin: 20px 0;

  }
  
  .button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px 80px;
    border-radius: 5px;
    font-size: 1.75rem;
  }

  .button:hover
  {
    background-color: #8b746a;
    color:rgb(255, 255, 255);  
  }
  
  #landing-services {
    text-align: center;
  }
  
  .landing-service-heading {
    margin-bottom: 10px;
  }

  #landing-services a
  {
    font-size: 1.7rem;
  }
  
  .landing-services-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  
  .landing-service {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 10px 10px 45px;
  }
  
  .landing-service a
  {
    margin-top: 10px;
  }

  .landing-service img
  {
    width: 200px;
  
  }

  .landing-service p
  {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  #satisfied-pets {
    text-align: center;
  }
  
  .satisfied-pets-heading {
    margin-bottom: 50px;
  }
  
  .satisfied-pets-gallery {
    display: flex;
     flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

  }
  
  .satisfied-pets-gallery  {
    width: 100%;
  }

  .satisfied-pets-gallery img
  {
    width: 100%;
  }
  
  

  
  #our-story {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }
  
  .our-story-content
  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .our-story-right {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .our-story-right p {
    margin-bottom: 50px;

  }



  
  @media screen and (min-width: 568px) {

    #hero
    {
      
      text-align: center;
      align-items: center;
      padding: 50px 80px;
      width: 100vw;
    }


 
    
    .landing-service, 
    .satisfied-pets-gallery img{
      width: 45%;

    }
    
    .our-story-right
    {
      width: 50%;
    }

footer p, footer a
{
  font-size: 1.5rem;
}

  }

  @media screen and (min-width: 925px)
  {

    h1
    {
      font-size: 6rem;
    }
    
    #hero h2
    {
      font-size: 3rem;
    }

    
    .button
    {
      font-size: 2rem;
   
    }

    h2
    {
      font-size: 4rem;
    }
    
    h3
    {
      font-size: 2.5rem;
    }

    .landing-service p
    {
      font-size: 1.75rem;
    }

    p
    {
      font-size: 2rem;
    }

    .landing-service, 
    .satisfied-pets-gallery img{
      max-width: 300px
    }

    .our-story-logo
    {
      width: 300px;
    }
    .our-story-right
    {
      width: 30%;
    }


  }