#our-story-hero
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/BackgroundMobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 100px 50px;
  text-align: center;
  margin-bottom: 50px;
}

 h1
{
  font-size: 4rem;
  color: white;
}

.our-story
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}



.our-story-left img
{
    width: 100%;

}

h2
{
    font-size: 3rem;
    margin-bottom: 10px;
}

.our-story-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
}

@media screen and (min-width: 925px) {
 
  .our-story
  {
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .our-story-right,
  .our-story-left
  {
    width: 45%;
  }

  .our-story-right
  {
    text-align: right;
  }

  h2
  {
    font-size: 3.7rem;
  }

  

}