* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ol,
ul {
  list-style: none;
}

p
{
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.flex,
body,
nav,
.right,
.rightNavLinks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wrapper {
  padding: 15px 20px;
  max-width: 1920px;
  margin: 0 auto;
}

.right {
  flex-direction: row;
}

.rightNavLinks ul {
  gap: 50px;
}

.rightNavLinks li a {
  font-size: 2rem;
  color: black;
}

#hamburgerMenu {
  background-color: transparent;
  border: none;
  display: none;
}

#hamburgerMenu img {
  width: 34px;
}

.left span {
  font-size: 4rem;
}

header {
  padding: 15px 0;
  
 /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: rgb(228, 254, 255);
}

nav,
.rightNavLinks ul {
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 96%;
  margin: auto;
}



footer
{
  background-color:  rgb(228, 254, 255);
  width: 100%;
  padding: 50px 0;
  text-align: center;
  position: relative;
  bottom: 0;
}
footer p, footer a
{
  font-size: 1.3rem;
}

@media screen and (max-width: 1025px) {
  
  #hamburgerMenu {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 100;
  }

  .rightNavLinks {
    display: none;
  }

  .mobileNav {
    display: block;
    position: absolute;
    background-color: rgb(209, 232, 233);
    width: 100%;
    right: 0;
    top: 7rem;
    overflow: hidden;
  }

  .mobileNav ul {
    flex-direction: column;
    padding: 15px;
  }
}
