* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover
{
  color: #8b746a;
}
ol,
ul {
  list-style: none;
}

p
{
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.flex,
body,
nav,
.right,
.rightNavLinks ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  padding: 15px 20px;
  max-width: 1920px;
  margin: 0 auto;
}

.right {
  flex-direction: row;
}

.rightNavLinks ul {
  gap: 50px;
}

.rightNavLinks li a {
  font-size: 2rem;

}

#hamburgerMenu {
  background-color: transparent;
  border: none;
  display: none;
}

#hamburgerMenu img {
  width: 34px;
}


header {
  padding: 15px 0;
  
 /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: #b4d2ba;
}

nav,
.rightNavLinks ul {
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 96%;
  margin: auto;
}

.nav-logo,
.nav-logo-additional
{
  font-size: 3.5rem;
  color: black;
}

.nav-logo-additional
{
  display: none;
}


footer
{
  background-color: #b4d2ba;

  width: 100%;
  padding: 50px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  margin-top: 150px;
 
}

.footer-four-column
{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 50px;
}

.footer-info-column
{
  width: 80%;
}

.footer-info-column p
{
  font-size: 2rem;
}

footer ul li
  {
    margin-bottom: 10px;
  }

  .footer-info-column,
  .footer-browse-column,
  .footer-services-column,
  .footer-contact-column
  {
    padding: 25px;
  }

.footer-browse-heading,
.footer-services-heading,
.footer-contact-heading
{
  font-weight: bold;
  font-size: 2.5rem;
}

footer li,
.footer-browse-column li a,
.footer-services-column li a,
.footer-contact-column li a,
footer a
{
  font-size: 1.75rem;
}

.footer-contact-location:hover
{
  color: black;
}




@media screen and (min-width: 400px)
{
.nav-logo,
.nav-logo-additional
{
  font-size: 3.5rem;
}

.nav-logo-additional
{
  display: inline-block;
}
}

@media screen and (min-width: 1000px) {

  .footer-four-column
  {
    flex-direction: row;

  }
  

  .footer-info-column,
  .footer-browse-column,
  .footer-services-column,
  .footer-contact-column
  {

    height: 100%;
    width: 20%;
  }


}

@media screen and (max-width: 1025px) {
  
  #hamburgerMenu {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 100;
  }

  .rightNavLinks {
    display: none;
  }

  .mobileNav {
    display: block;
    position: absolute;
    background-color: #8eb495;
    width: 100%;
    right: 0;
    top: 7rem;
    overflow: hidden;
  }

  .mobileNav ul {
    flex-direction: column;
    padding: 15px;
  }
}
